<ng-container *transloco="let t">
    <div class="flex flex-col flex-auto w-full min-w-0 custom-background">

        <!-- Header -->
        <div
            class="relative flex flex-0 items-center w-full h-16 px-4 z-49 shadow shadow-none border-b bg-card bg-transparent dark-background print:hidden">
            <ng-container>
                <div class="flex items-center mx-2 lg:mr-8" (click)="goHome()" style="cursor: pointer">
                    <img class="flex w-16" src="assets/images/logo/logo-text-on-dark.png">
                </div>
                <div class="text-2xl" style="color: #FFF;">Promotions</div>
            </ng-container>
            <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
                <!-- <languages></languages> -->
                <user></user>
            </div>
        </div>
        <!-- Content -->
        <fuse-alert [type]="'primary'" *ngIf="!list || list.length == 0" class="m-4">
            <span fuseAlertTitle>No Promotions</span>
            There are currently no promotions near you
        </fuse-alert>
        <div class="flex flex-wrap items-start w-full" *ngIf="list && list.length > 0"
            style="margin-top: 64px;margin-bottom: 56px;">
            <fuse-card *ngFor="let item of list"
                class="flex flex-col sm:flex-row justify-between w-full filter-listing mb-4 fuse-card-light home-card">
                <div class="flex flex-col flex-auto order-2 sm:order-1 mt-2 pl-4 pr-4">
                    <div class="text-2xl font-semibold leading-tight" (click)="openPromotion(item)" *ngIf="item.userId!='00000000-0000-0000-0000-000000000000'">{{item.name}}</div>
                    <div class="text-2xl font-semibold leading-tight" (click)="openPromotion(item)">{{item.title}}</div>
                    <div class="text-secondary mt-2" [innerHTML]="item.content"></div>
                    <div class="mt-2" (click)="openPromotion(item)">
                        <div class="flex flex-wrap items-center text-secondary my-1">
                            <span><a href="https://vibeviewer.com" target="_blank">{{item.web}}</a></span>
                            <span class="mx-2">&bull;</span>
                            <span class="whitespace-nowrap">{{item.phone}}</span>
                        </div>
                    </div>
                    <br *ngIf="item.userId=='00000000-0000-0000-0000-000000000000'">
                    <div class="flex items-center mt-3 -mx-3" style="padding-bottom: 5px;" *ngIf="item.userId!='00000000-0000-0000-0000-000000000000'">
                        <a mat-flat-button class="px-3 mr-1 w-100-p" style="width: 100%;border-radius:12px!important"
                            mat-button [color]="'primary'" [routerLink]="['./']"
                            (click)="viewLocation(item.lat, item.lon)" [disabled]="loading">
                            {{t('location')}}
                        </a>
                        <a mat-flat-button style="width: 100%;border-radius:12px!important" class="px-3" mat-button
                            [color]="'primary'" [routerLink]="['./']" (click)="viewReviews($event, item)"
                            [disabled]="loading || item.reviewCount == 0">
                            {{t('reviews')}}
                        </a>
                    </div>
                </div>
                <div (click)="openPromotion(item)"
                    class="order-1 sm:order-2 w-full sm:w-100 rounded-lg overflow-hidden">
                    <div class="single-image-container-promotion-1">
                        <div class="single-image-container-promotion-2">
                            <div class="single-image-container-promotion-3">
                                <div class="single-image-promotion"
                                    [style.background-image]="'url(' + api + '/Images/Promotions/' + item.id + '.' + item.urlImage + ')'">
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fuse-card>
        </div>
        <!-- Footer -->
        <div class="relative flex flex-0 items-center w-full h-14 sm:h-20 px-4 md:px-6 z-49 border-t bg-card bg-transparent print:hidden custom-footer"
            style="height: 56px!important">
            <!-- <span class="font-medium text-secondary">Vibe Viewer &copy; {{currentYear}}</span> -->
        </div>

    </div>

    <div class="bottom-bar">
        <button mat-flat-button color="primary" (click)="goHome()">
            <mat-icon svgIcon="heroicons_outline:home"></mat-icon>&nbsp;&nbsp;{{t('home')}}
        </button>
    </div>
</ng-container>