<ng-container *transloco="let t">
    <div class="flex flex-col flex-auto w-full min-w-0 custom-background">

        <!-- Header -->
        <div
            class="relative flex flex-0 items-center w-full h-16 px-4 z-49 shadow shadow-none border-b bg-card bg-transparent dark-background print:hidden">
            <ng-container>
                <div class="flex items-center mx-2 lg:mr-8" (click)="goHome()" style="cursor: pointer">
                    <img class="flex w-16" src="assets/images/logo/logo-text-on-dark.png">
                </div>

            </ng-container>
            <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
                <!-- <languages></languages> -->
                <user></user>
            </div>
        </div>
        <!-- Content -->
        <div
            class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
            <div
                class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
                <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
                    <div class="inline-flex items-center justify-between w-full mt-1.5">
                        <div class="text-4xl font-extrabold tracking-tight leading-tight">Payment Cancelled
                        </div>
                    </div>
                    <hr>
                    <!-- Title -->
                    <div class="flex items-baseline mt-0.5 font-medium">
                        <div>Your transaction has not been completed.  Let us know when you are ready.</div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Footer -->
        <div class="relative flex flex-0 items-center w-full h-14 sm:h-20 px-4 md:px-6 z-49 border-t bg-card bg-transparent print:hidden custom-footer"
            style="height: 56px!important">
            <!-- <span class="font-medium text-secondary">Vibe Viewer &copy; {{currentYear}}</span> -->
        </div>

    </div>

    <div class="bottom-bar">
        <button mat-flat-button color="primary" (click)="goHome()">
            <mat-icon svgIcon="heroicons_outline:home"></mat-icon>&nbsp;&nbsp;{{t('home')}}
        </button>
    </div>
</ng-container>