<ng-container *transloco="let t">
    <div class="w-full mt-0">
        <!-- Form -->
        <form *ngIf="accountForm" class="mat-white-bg w-100-p" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
            name="accountForm" [formGroup]="accountForm" novalidate style="padding: 0px!important;">

            <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
                <div class="sm:col-span-2">
                    <mat-form-field class="w-full">
                        <mat-label>{{t('establishment_type')}}</mat-label>
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:office-building'" matPrefix>
                        </mat-icon>
                        <mat-select #establishment placeholder="{{t('establishment_type')}}"
                            [formControlName]="'userTypeId'" (selectionChange)="venueTypeChanged($event)">
                            <mat-option *ngFor="let userTypeItem of userTypeList" [value]="userTypeItem.id">
                                {{t(userTypeItem.description)}}</mat-option>
                        </mat-select>
                        <mat-error>{{t('establishment_type_required')}}</mat-error>
                    </mat-form-field>
                </div>

                <div class="sm:col-span-2"
                    *ngIf="accountForm.value.userTypeId !== '463af20d-e093-4ca0-9ac1-23909de39f9c' && accountForm.value.userTypeId !== ''">
                    <mat-form-field class="w-full">
                        <mat-label>{{accountForm.value.userTypeId === '463af20d-e093-4ca0-9ac1-23909de39f9c' ? t('name')
                            :
                            t('establishment_name')}}</mat-label>
                        <mat-icon class="icon-size-5" [svgIcon]="'mat_outline:label'" matPrefix></mat-icon>
                        <input id="name" matInput [formControlName]="'name'">
                        <mat-error *ngIf="accountForm.get('name').hasError('required')">
                            {{t('establishment_name_required')}}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="sm:col-span-4"
                    *ngIf="accountForm.value.userTypeId !== '463af20d-e093-4ca0-9ac1-23909de39f9c' && accountForm.value.userTypeId !== ''">
                    <mat-form-field class="w-full"
                        *ngIf="accountForm.value.userTypeId !== '463af20d-e093-4ca0-9ac1-23909de39f9c'">
                        <mat-label>{{t('description')}}</mat-label>
                        <textarea id="description" matInput [formControlName]="'description'"></textarea>
                        <mat-error *ngIf="accountForm.get('description').hasError('required')">
                            {{t('description_required')}}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="sm:col-span-2"
                    *ngIf="accountForm.value.userTypeId !== '463af20d-e093-4ca0-9ac1-23909de39f9c' && accountForm.value.userTypeId !== ''">
                    <mat-form-field class="w-full"
                        *ngIf="accountForm.value.userTypeId !== '463af20d-e093-4ca0-9ac1-23909de39f9c'">
                        <mat-label>{{t('address')}}</mat-label>
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:location-marker'" matPrefix>
                        </mat-icon>
                        <input readonly matInput placeholder="{{t('address')}}" formControlName="address" id="address">
                        <button matSuffix mat-button (click)="getAddress()">
                            <mat-icon>search</mat-icon>
                        </button>
                        <mat-error *ngIf="accountForm.get('address').hasError('required')">{{t('address_required')}}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="sm:col-span-2">
                    <mat-form-field class="w-full">
                        <mat-label>{{t('email')}}</mat-label>
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:mail'" matPrefix></mat-icon>
                        <input [formControlName]="'email'" readonly matInput>
                        <mat-error *ngIf="accountForm.get('email').hasError('required')">
                            {{t('email_required')}}
                        </mat-error>
                        <mat-error *ngIf="accountForm.get('email').hasError('email')">
                            {{t('email_validation')}}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="sm:col-span-2"
                    *ngIf="accountForm.value.userTypeId !== '463af20d-e093-4ca0-9ac1-23909de39f9c' && accountForm.value.userTypeId !== ''">
                    <mat-form-field class="w-full">
                        <mat-label>{{t('phone')}}</mat-label>
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:phone'" matPrefix></mat-icon>
                        <input [formControlName]="'phone'" matInput>
                        <mat-error *ngIf="accountForm.get('phone').hasError('required')">
                            {{t('phone_required')}}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="sm:col-span-2"
                    *ngIf="accountForm.value.userTypeId !== '463af20d-e093-4ca0-9ac1-23909de39f9c' && accountForm.value.userTypeId !== ''">
                    <mat-form-field class="w-full">
                        <mat-label>{{t('www')}}</mat-label>
                        <mat-icon class="icon-size-5" svgIcon="mat_outline:computer" matPrefix></mat-icon>
                        <input [formControlName]="'web'" matInput>
                        <mat-error *ngIf="accountForm.get('web').hasError('required')">
                            {{t('website_required')}}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="sm:col-span-2">
                    <mat-form-field class="w-full">
                        <mat-label>{{t('paypal_email')}}</mat-label>
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:mail'" matPrefix></mat-icon>
                        <input id="paypalEmail" matInput [formControlName]="'paypalEmail'">
                        <mat-error *ngIf="accountForm.get('paypalEmail').hasError('paypalEmail')">
                            {{t('paypal_email_validation')}}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="sm:col-span-4 mb-4"
                    *ngIf="accountForm.value.userTypeId !== '463af20d-e093-4ca0-9ac1-23909de39f9c' && accountForm.value.userTypeId !== ''">
                    <div fxLayout fxLayoutAlign="center center"
                        style="margin-top:4px; margin-bottom:4px; cursor: pointer; text-align: center;">
                        <div class="image-box">
                            <img *ngIf="previewImage" class="image-picker" [src]="previewImage" (click)="captureImage()"
                                onerror="this.src='assets/images/no-image.jpg';this.onerror='';">
                            <img *ngIf="!previewImage && accountForm.value.urlImage" class="image-picker"
                                [src]="imagesFolder + 'Users/' + accountForm.value.id + accountForm.value.urlImage + '?t=' + variableService.timestamp"
                                (click)="captureImage()"
                                onerror="this.src='assets/images/no-image.jpg';this.onerror='';">
                            <img *ngIf="!previewImage && !accountForm.value.urlImage" class="image-placeholder"
                                src="assets/images/add-image.png" (click)="captureImage()"
                                onerror="this.src='assets/images/no-image.jpg';this.onerror='';">
                        </div>
                    </div>
                </div>

            </div>

            <!-- <div fxLayout fxLayoutAlign="center center">
                <mat-card class="example-card">
                    <mat-card-title class="flex items-center justify-center">Referral Link</mat-card-title>
                    <mat-card-subtitle class="flex items-center justify-center">Scan QR Code or click to copy link
                    </mat-card-subtitle>
                    <mat-card-content (click)="copyReferral()">
                        <qrcode [qrdata]="'https://vibeviewer.com/sign-up?r=' + user.email" [allowEmptyString]="true"
                            [cssClass]="'center'" [colorDark]="'#0F172A'" [colorLight]="'#E9E9E9'"
                            [elementType]="'canvas'" [errorCorrectionLevel]="'M'"
                            [imageSrc]="'assets/images/logo/logo-rounded.png'" [imageHeight]="50" [imageWidth]="50"
                            [margin]="4" [scale]="1" [width]="300"></qrcode>
                    </mat-card-content>
                </mat-card>
            </div> -->

            <!-- Actions -->
            <div class="flex items-center justify-end">
                <!-- <fuse-alert *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type">
                    {{alert.message}}
                </fuse-alert> -->
                <!-- <button mat-flat-button type="button" (click)="copyReferral()" [color]="'primary'">
                    Referral Link&nbsp;&nbsp;
                    <mat-icon class="w-full" (click)="copyReferral()" class="icon-size-5"
                        [svgIcon]="'heroicons_solid:duplicate'" matPrefix></mat-icon>
                </button> -->
                <button class="ml-4" mat-flat-button type="button" (click)="cancel()" [disabled]="accountForm.disabled"
                [color]="'error'">{{t('cancel_subscription')}}
            </button>
            <button class="ml-4" mat-flat-button type="button" (click)="save()" [disabled]="accountForm.disabled"
                [color]="'primary'">{{t('submit')}}
            </button>
            </div>

        </form>
    </div>
</ng-container>