<ng-container *transloco="let t">
    <div class="flex flex-col flex-auto w-full min-w-0 custom-background">

        <!-- Header -->
        <div
            class="relative flex flex-0 items-center w-full h-16 px-4 z-49 shadow shadow-none border-b bg-card bg-transparent dark-background print:hidden">
            <ng-container>
                <div class="flex items-center mx-2 lg:mr-8" (click)="goHome()" style="cursor: pointer">
                    <img class="flex w-16" src="assets/images/logo/logo-text-on-dark.png">
                </div>
                <div class="text-2xl ml-8" style="color: #FFF;">FAQ's...</div>
            </ng-container>
            <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
                <!-- <languages></languages> -->
                <user></user>
            </div>
        </div>
        <!-- Content -->
        <div class="flex flex-wrap items-start w-full" style="margin-top: 14px;margin-bottom: 16px;">
            <div class="flex flex-col w-full max-w">
                <mat-accordion class="max-w ml-8 mr-8">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header [collapsedHeight]="'56px'">
                            <mat-panel-title class="font-medium leading-tight">Pricing</mat-panel-title>
                        </mat-expansion-panel-header>
                        <table class="table table-striped table-bordered">
                            <tbody>
                                <tr>
                                    <td>Users</td>
                                    <td>FREE</td>
                                </tr>
                                <!-- <tr>
                                    <td>Resellers</td>
                                    <td>FREE</td>
                                </tr> -->
                                <tr>
                                    <td>Venue Subscription</td>
                                    <td>FREE p/m</td>
                                </tr>
                                <tr>
                                    <td>Promotions</td>
                                    <td>$5.00 per promotion.</td>
                                </tr>
                            </tbody>
                        </table>
                    </mat-expansion-panel>

                    <!-- <mat-expansion-panel>
                        <mat-expansion-panel-header [collapsedHeight]="'56px'">
                            <mat-panel-title class="font-medium leading-tight">Reseller Commission</mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul>
                            <li>Resellers will receive 10% of any amount paid by a venue referred by the reseller.</li>
                            <li>This includes monthly subscriptions as well as promotions.</li>
                        </ul>
                    </mat-expansion-panel> -->

                    <mat-expansion-panel>
                        <mat-expansion-panel-header [collapsedHeight]="'56px'">
                            <mat-panel-title class="font-medium leading-tight">Cancellation Policy</mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul>
                            <li>Venues are not bound to any contract. They are able to cancel at any time.</li>
                            <!-- <li>Upon cancellation, the account will remain active until the next billing cycle.</li> -->
                        </ul>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header [collapsedHeight]="'56px'">
                            <mat-panel-title class="font-medium leading-tight">Promotions</mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul>
                            <li>Promotions can be scheduled when a venue user is logged in.</li>
                            <li>On the promotion date, push notifications are sent to all users within a 10km radius of
                                the
                                venue.</li>
                            <li>Users will have the option to mute notifications from selected venues.</li>
                            <li>Promotions will also appear on the promotion-page on the day of the event.</li>
                            <li>Venues are allowed to submit only one promotion per day.</li>
                        </ul>
                    </mat-expansion-panel>

                    <!-- <mat-expansion-panel>
                        <mat-expansion-panel-header [collapsedHeight]="'56px'">
                            <mat-panel-title class="font-medium leading-tight">Trial Period</mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul>
                            <li>Venues are given a 14 day trial period - where they will be able to familiarise
                                themselves with
                                Vibe Viewer.</li>
                            <li>All functionality is enabled during the trial period.</li>
                            <li>After 14 days the venue will no longer be displayed on the home page if payment is not
                                made
                                before then.</li>
                        </ul>
                    </mat-expansion-panel> -->

                    <mat-expansion-panel>
                        <mat-expansion-panel-header [collapsedHeight]="'56px'">
                            <mat-panel-title class="font-medium leading-tight">Search Page (Home)</mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul>
                            <li>Users are able to filter by Venue Type, Distance from their current location or selected
                                location and Rating.</li>
                            <li>Users are able to sort results by Distance, Total Vibes or Average Vibe per Rating
                                Segment.</li>
                        </ul>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header [collapsedHeight]="'56px'">
                            <mat-panel-title class="font-medium leading-tight">Reviews</mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul>
                            <li>Reviews are real-time - displaying the date and time of the review.</li>
                            <li>Reviews are removed 30 hours after it was submitted.</li>
                            <li>The device's camera is used to take a photo, and Ratings are submitted for Vibe,
                                Quality, Price
                                and Child Friendliness.</li>
                            <li>Users are enabled to submit reviews only when they are inside the venue.</li>
                            <li>Users are allowed to submit only one review per venue per day.</li>
                            <li>All reviews are anonymous.</li>
                        </ul>
                    </mat-expansion-panel>




                </mat-accordion>
            </div>
        </div>
        <!-- Footer -->
        <div class="relative flex flex-0 items-center w-full h-14 sm:h-20 px-4 md:px-6 z-49 border-t bg-card bg-transparent print:hidden custom-footer"
            style="height: 56px!important">
            <!-- <span class="font-medium text-secondary">Vibe Viewer &copy; {{currentYear}}</span> -->
        </div>

    </div>

    <div class="bottom-bar">
        <button mat-flat-button color="primary" (click)="goHome()">
            <mat-icon svgIcon="heroicons_outline:home"></mat-icon>&nbsp;&nbsp;{{t('home')}}
        </button>
    </div>
</ng-container>